
<ZXingScanner VideoElementId="hidden-webcam-scanner-video">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <ActiveUserStateProvider>
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="body" />
            </ActiveUserStateProvider>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</ZXingScanner>
